@charset "utf-8";

@font-face {
    font-family: font1;
    src: url(font/SuperMario256.ttf);
}

body{
    background-image: url(https://img.freepik.com/premium-vector/gaming-colorful-seamless-pattern-with-geometric-objects_251819-2302.jpg);
}

h1{
    text-align: center;
   font-size: 50px;
   color: white;
   font-family: font1;
   text-shadow: blue 5px 4px 5px;
}

footer{
position: fixed;
top: 95%;
left: 40%;
color: white;
font-size: 25px;
text-shadow: blue 5px 4px 5px;
}